#----------------------------------------------------------------------------
# Input data
#----------------------------------------------------------------------------
/data/*


#----------------------------------------------------------------------------
# result
#----------------------------------------------------------------------------
/out/*

